.c-tooltip-button {
	position: relative;
	width: min-content;
	button {
		padding: 10px 20px;
		width: 170px;
		background-color: white;
		border-radius: 5px;
		&:hover {
			background-color: lightblue;
		}
	}
}

